@use '@/styles/base/variables' as vars;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;

  padding: 0.8rem clamp(1rem, calc(1rem + (calc(100vw - 360px) * 0.05)), 1.4rem);
  border-radius: 1rem;

  font-weight: 700;
  font-size: 1.6rem;

  cursor: pointer;

  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login,
.topNav {
  width: 7rem;
  height: 3.2rem;

  border: 0.1rem solid vars.$color-secondary;
  background-color: vars.$color-white;

  font-size: 1.4rem;
  color: vars.$color-secondary;
}

.topNav {
  width: auto;
}

.inCart {
  height: 3.2rem;

  border: 0.1rem solid vars.$btn-color-primary;
  border-radius: 0.6rem;

  background-color: vars.$color-white;

  font-size: 1.2rem;
  color: vars.$btn-color-primary;
}

.primary {
  height: 5.4rem;

  background-color: vars.$btn-color-primary;
}

.inActive {
  background-color: vars.$btn-color-primary-30;
}

.waiting {
  background-color: vars.$color-secondary;
}

.cancel {
  background-color: vars.$color-white;
  color: vars.$btn-color-primary;
}
