@use '@/styles/base/variables' as vars;
@use '@/styles/mixins/mixins' as mixins;

.bottomNav {
  @include mixins.flexbox($align: flex-start, $justify: space-evenly);

  height: 85px;
  padding-top: 1.4rem;
  background-color: vars.$bg-color-secondary;
}
