@use '@/styles/mixins/mixins' as mixins;
@use '@/styles/base/variables' as vars;

.wrapper {
  @include mixins.flexbox($align: stretch, $direction: column, $gap: 0.2rem);
}

.label {
  font-size: 1.4rem;
}

.input {
  width: 100%;
  max-width: 100%;

  height: 5.4rem;

  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 0.6rem;

  font-size: 1.6rem;
  font-weight: 500;

  &:-webkit-autofill {
    background-color: transparent !important;
    transition: background-color 9999s ease-in-out 0s;
    color: inherit !important;
  }
}
