@use '@/styles/base/variables' as vars;
@use '@/styles/mixins/mixins' as mixins;

.sliderWrapper {
  height: 18rem;
  margin-top: 1.8rem;

  :global(.swiper) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.9rem;
  }

  :global(.swiper-slide) {
    position: relative;
    min-height: 15.5rem;
    width: calc(100vw - 4.6rem) !important;

    border-radius: 2rem;
    cursor: pointer;

    line-height: 0;
  }

  :global(.swiper-pagination) {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: 0;
  }

  :global(.swiper-pagination-bullet) {
    width: 0.7rem;
    height: 0.7rem;

    background-color: vars.$btn-color-dots-primary;

    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: vars.$btn-color-primary;
  }

  & img {
    width: calc(100vw - 4.6rem) !important;
    min-height: 15.5rem;
  }
}
