@use '@/styles/base/variables' as vars;

.navItemLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;

  transition: color 0.2s ease;

  &.active {
    color: vars.$btn-color-primary-active;

    .navItemLabel {
      color: vars.$btn-color-primary-active;
    }
  }

  &:active {
    color: vars.$btn-color-primary-active;

    .navItemLabel {
      color: vars.$btn-color-primary-active;
    }
  }

  &:hover {
    color: vars.$btn-color-primary-hover;
    text-decoration: underline;

    .navItemLabel {
      color: vars.$btn-color-primary-hover;
    }
  }
}

.navItemLabel {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: -0.04em;

  color: vars.$text-color-secondary;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
