@use '@/styles/base/variables' as vars;
@use '@/styles/mixins/mixins' as mixins;

.root {
  @include mixins.flexbox($justify: flex-end, $direction: column, $gap: 0.5rem);
  //width: 12.4rem;
  //height: 13.8rem;

  padding: 1.5rem 1.5rem;
  border-radius: 1rem;

  background: vars.$bg-color-secondary;
}

.icon {
  //width: 7.2rem;
  //height: 7.2rem;
}
