@use '@/styles/base/variables' as vars;
@use '@/styles/mixins/mixins' as mixins;
@use 'sass:map';

.layout {
  @include mixins.flexbox($direction: column);
}

.contentGrid {
  display: grid;
  grid-template-columns: auto auto minmax(0, 1200px) auto;

  @media (min-width: 1360px) {
    grid-template-columns: auto 13.5rem minmax(0, 1200px) auto;
  }
}

.content {
  grid-column: 3;

  margin-top: 2rem;
  margin-left: clamp(0.5rem, calc(0.5rem + ((100vw - 360px) * 0.23)), 2.3rem);
  margin-right: clamp(0.5rem, calc(0.5rem + ((100vw - 360px) * 0.23)), 2.3rem);
}

.main {
  grid-area: main;

  padding-bottom: 8rem;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
}
