@use '@/styles/base/variables' as vars;

.horizontal {
  width: 100%;
  height: 0.2rem;
  background-color: vars.$bg-color-divider;
}

.vertical {
  height: 100%;
  width: 0.2rem;
  background-color: vars.$bg-color-divider;
}
