// Base palette
$color-primary: #fe0000;
$color-primary-dark: #c00000;

$color-white: #ffffff;
$color-black: #000000;

// Focus (Google Blue)
$color-hover: #649df2;
$color-focus: #1a73e8;


$breakpoints: (
        sm: null,
        md: 768px,
        lg: 1200px,
);
