$figma-white: #ffffff;
$figma-black: #000000;

$figma-brand-primary: #fe0000;
$figma-brand-primary-hover: #d80000;
$figma-brand-primary-active: #a90000;

$figma-gray-100: #f4f4f4;
$figma-gray-200: #ededed;
$figma-gray-300: #d9d9d9;
$figma-gray-400: #ababab;
$figma-gray-500: #8f8f8f;

$figma-green: #3e9937;
