@use './04_mixins' as mixins;

// Button

.btn {
  @include mixins.flexbox($display: inline-flex, $direction: column, $justify: center, $align: center);

  padding: 0.8rem 1.4rem;

  border: none;
  border-radius: 0.6rem;

  font-size: 1.6rem;
  font-weight: 700;

  cursor: pointer;

  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btnPrimary {
  height: 5.4rem;

  background-color: var(--btn-bg-primary);
  color: var(--text-inverse);

  transition: background-color 0.2s linear;

  &:hover {
    background-color: var(--btn-bg-primary-hover);
  }

  &:active {
    background-color: var(--btn-bg-primary-active);
  }
}

.btnSecondary {
  height: 5.4rem;

  background-color: var(--btn-bg-secondary);
  color: var(--text-primary);
}
