.order {
  position: relative;
  align-items: center;
  justify-items: center;
  height: 10rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  overflow: hidden;

  cursor: pointer;

  -webkit-box-shadow: 6px 2px 11px -3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 6px 2px 11px -3px rgba(66, 68, 90, 1);
  box-shadow: 6px 2px 11px -3px rgba(66, 68, 90, 1);

  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.01) translateY(-0.5rem);
  }

  &:active {
    transform: scale(0.99);
  }
}
