@use './variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  min-height: 100%;

  background-color: vars.$bg-color-primary;

  font-family: vars.$font;
  font-size: 1.6rem;
  color: vars.$color-secondary;
  line-height: 1.5;
}
