$color-primary: #fe0000;
$color-secondary: #000000;
$color-white: #ffffff;

// Font
$font: var(--font-inter), var(--font-roboto), 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif;

// Background
$bg-color-primary: #f4f4f4;
$bg-color-secondary: #ffffff;

// Button
$btn-color-primary: $color-primary;
$btn-color-primary-30: rgba($color-primary, 0.3);
$btn-color-primary-hover: #e10000;
$btn-color-primary-active: #c00000;

$btn-color-secondary: $color-white;
$btn-color-secondary-active: #ffe6e6;

$btn-color-waiting: #262626;

// Text
$text-color-secondary: #8f8f8f;
$text-color-cart-free: #3e9937;
