.main {
  margin-left: clamp(0.5rem, calc(0.5rem + ((100vw - 360px) * 0.23)), 2.3rem);
  margin-right: clamp(0.5rem, calc(0.5rem + ((100vw - 360px) * 0.23)), 2.3rem);
  padding-bottom: 8rem;
}
.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
}
