@use '@/styles/mixins/mixins' as mixins;

.form {
  @include mixins.flexbox($align: flex-start, $direction: column, $gap: 1.5rem);
  max-width: 60rem;
  padding-bottom: 2rem;
  letter-spacing: 0.05rem;
}

.label {
  font-size: 1.7rem;
  font-weight: 500;
}

.wrapperGroup {
  width: 100%;
}
.input {
  border: 0.1rem solid black;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.05rem;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: text;
  }
}

.buttonGroup {
  align-self: flex-end;
}

.linkButton {
  height: 6rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}
