@use '@/styles/mixins/mixins' as mixins;

.sidebar {
  @include mixins.flexbox($direction: column, $gap: 0.3rem);
  list-style: none;
}

.menuList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.1rem;
}
